<h1>Welcome to your <b>To-Do list</b></h1>
<br>
<ul>
  <% if @lists.length() > 0 %>
    <% @lists.each() do |list| %>
      <li><a href="<%= list.name() %>/<%= list.id() %>"><%= list.name() %></a></li>
      <% tasks = Task.task_where(list.id()) %>
      <% if tasks.length > 0 %>
        <ul>
          <% tasks.each() do |task| %>
            <li><%= task.description() %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</ul>
<br>
<div class="form-group">
  <form action="/list/new" method="post">
    <label for="list_to_be_added">Enter a new list here:</label>
    <input type="text" id="list_to_be_added" name="list_to_be_added" class="form-control">
    <br>
    <button type="submit" name="add_new_list" class="btn btn-primary">Add New List</button>
  </form>
</div>
